ENV['DOMAIN_NAME']    = 'davinci.dev'
ENV['GMAIL_USERNAME'] = 'user'
ENV['GMAIL_PASSWORD'] = 'password'


#########
# GMAIL
#########

Davinci::Application.configure do 

  # Configure mail
  if ENV['DOMAIN_NAME'] and ENV['GMAIL_USERNAME'] and ENV['GMAIL_PASSWORD']
    config.action_mailer.delivery_method = :smtp
    config.action_mailer.smtp_settings = {
      :address              => "smtp.gmail.com",
      :port                 => '587',
      :domain               => ENV['DOMAIN_NAME'],
      :user_name            => ENV['GMAIL_USERNAME'],
      :password             => ENV['GMAIL_PASSWORD'],
      :authentication       => 'plain',
      :enable_starttls_auto => true  }
  end
  
end