= render({:state => :breadcrumb}, @user, @course, @submission, @task)

= render({:state => :task}, @task)

= render_widget :submission, :display, @submission

= render_widget :mark, :display, @user, @course, @submission