= render({:state => :breadcrumb}, @user, @course, @submission, @task)
/ = render :view => :breadcrumb, :locals => {@user, @course, @submission, @task}

= render({:state => :task}, @task)

= render_widget :submission, :display, @submission